/* START:AO COLOUR SCHEME */

/* Brand Colours */
$Red: rgb(178,52,39);
$White: rgb(255, 255, 255);

/* Monochrome */
$Black: rgb( 0, 0, 0);
$Black75: rgb( 75, 99, 102);
$Black50: rgb( 147, 149, 152);
$Black25: rgb( 199, 200, 202);

/* Spot Highlights */
$Mustard: rgb(234, 215, 102);
$Azure: rgb(86, 155, 190);
$Lavender: rgb(173, 176, 216);
$Iris: rgb(125, 166, 216);
$Aqua: rgb(154, 215, 219);
$Fuchsia: rgb(238, 182, 212);
$Apple: rgb(194, 205, 35);
$Forest: rgb(103, 145, 70);

/* Strong Neutrals */
$Chestnut: rgb(161,149,137);
$Gold: rgb(179,170,126);
$Autumn: rgb(158, 102, 20);
$OceanBlue: rgb(0,101,149);
$Fern: rgb(139,155,147);
$MidnightBlue: rgb(92,111,123);

/* Light Neutrals */
$Walnut: rgb(202,194,184);
$Stone: rgb(232,225,213);
$Almond: rgb(231,229,211);
$Titanium: rgb(216,227,233);
$LightOlive: rgb(217,226,218);
$Silver: rgb(234,239,241);

/* END:AO COLOUR SCHEME */


/* START:FLAT COLOUR SCHEME */

$turquoise:#1ABC9C;

$green-sea: #16A085;

$emerald: #2ECC71;

$nephritis: #27AE60;

$peter-river: #3498DB;

$belize-hole: #2980B9;

$amethyst: #9B59B6;

$wisteria: #8E44AD;

$wet-asphalt: #34495E;

$midnight-blue: #2C3E50;

$sun-flower: #F1C40F;

$orange: #F39C12;

$carrot: #E67E22;

$pumpkin: #D35400;

$alizarin: #E74C3C;

$pomegranate: #C0392B;

$clouds: #ECF0F1;

$silver: #BDC3C7;

$concrete: #95A5A6;

$asbestos: #7F8C8D;

/* END:FLAT COLOUR SCHEME */

/* START:GOOGLE MATERIAL COLOUR SCHEME */

$google-red:#E51C23;

$google-pink:#E91E63;

$google-purple:#9C27B0;

$google-deep-purple:#673AB7;

$google-indigo:#3F51B5;

$google-blue:#5677FC;

$google-light-blue:#03A9F4;

$google-cyan:#00BCD4;

$google-teal:#009688;

$google-green:#259B24;

$google-light-green:#8BC34A;

$google-lime:#CDDC39;

$google-yellow:#FFEB3B;

$google-amber:#FFC107;

$google-orange:#FF9800;

$google-deep-orange:#FF5722;

$google-brown:#795548;

$google-grey:#9E9E9E;

$google-blue-grey:#607D8B;

$google-amber:#FFFFFF;

/* END:GOOGLE MATERIAL COLOUR SCHEME */

/** START:HTML **/
$bodyBackground:$Black;
/** END:HTML **/

/* START:TILES */

$tilePadding:4px;
$tileContainerPadding:$tilePadding/2;
$tileContainerBackground: $bodyBackground;

//$tileWidth:120px; /*!important this needs to be the same width as the isotope column*/
//$tileHeight:120px;
/* END:TILES */



